{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <style>
      body {
        background-color: #F8F6F8;
      }
      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }

      @media only screen and (min-width: 768px) {
      .center {
        width: 50%;
      }

      }
    </style>
  </head>

  <body>
    <main>
      <img src="{% static 'heart.gif' %}" alt="Я тебе кохаю" class="center">
    </main>
    <!-- <script src="index.js"></script> -->
  </body>

</html>